@media (min-width: 768px) {
  :root {
    font-size: calc(0.9375rem + ((1vw - 7.68px) * 0.8681));
    min-height: 0vw;
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 25px;
  }
}

::selection {
  background: magenta; color: black;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes noise1 {
  0% { clip-path: inset(93% 0 6% 0); }
  5% { clip-path: inset(14% 0 38% 0); }
  10% { clip-path: inset(42% 0 4% 0); }
  15% { clip-path: inset(65% 0 33% 0); }
  20% { clip-path: inset(52% 0 41% 0); }
  25% { clip-path: inset(18% 0 53% 0); }
  30% { clip-path: inset(79% 0 9% 0); }
  35% { clip-path: inset(91% 0 7% 0); }
  40% { clip-path: inset(41% 0 25% 0); }
  45% { clip-path: inset(86% 0 13% 0); }
  50% { clip-path: inset(53% 0 1% 0); }
  55% { clip-path: inset(37% 0 37% 0); }
  60% { clip-path: inset(87% 0 9% 0); }
  65% { clip-path: inset(35% 0 53% 0); }
  70% { clip-path: inset(7% 0 61% 0); }
  75% { clip-path: inset(45% 0 43% 0); }
  80% { clip-path: inset(86% 0 9% 0); }
  85% { clip-path: inset(81% 0 14% 0); }
  90% { clip-path: inset(70% 0 14% 0); }
  95% { clip-path: inset(81% 0 17% 0); }
  100% { clip-path: inset(23% 0 4% 0); }
}

@keyframes noise2 {
  0% { clip-path: inset(90% 0 4% 0); }
  5% { clip-path: inset(10% 0 24% 0); }
  10% { clip-path: inset(47% 0 34% 0); }
  15% { clip-path: inset(67% 0 33% 0); }
  20% { clip-path: inset(13% 0 25% 0); }
  25% { clip-path: inset(95% 0 6% 0); }
  30% { clip-path: inset(42% 0 2% 0); }
  35% { clip-path: inset(47% 0 54% 0); }
  40% { clip-path: inset(7% 0 21% 0); }
  45% { clip-path: inset(72% 0 20% 0); }
  50% { clip-path: inset(29% 0 67% 0); }
  55% { clip-path: inset(17% 0 29% 0); }
  60% { clip-path: inset(20% 0 49% 0); }
  65% { clip-path: inset(89% 0 3% 0); }
  70% { clip-path: inset(50% 0 33% 0); }
  75% { clip-path: inset(48% 0 10% 0); }
  80% { clip-path: inset(100% 0 1% 0); }
  85% { clip-path: inset(71% 0 27% 0); }
  90% { clip-path: inset(60% 0 22% 0); }
  95% { clip-path: inset(38% 0 16% 0); }
  100% { clip-path: inset(96% 0 1% 0); }
}

@keyframes  flicker {
  0% {opacity: 1;}
  2% {opacity: .9;}
  80% {opacity: 1;}
  85% {opacity: .85;}
  99% {opacity: .89;}
  100% {opacity: 1;}
}


body {
  animation: fadeIn ease 1s;
  background: black;
  color: snow;
  font-family: sans-serif;
  line-height: 1.5;
  padding-bottom: 2em;
  border-bottom: 2em solid #111;
}

body>* {
  max-width: 32em;
  margin: 0 auto;
  padding: 1em 1em 0;
}

.masthead {
  display: flex;
  flex-direction: column-reverse;
}

.masthead img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 0 .75em rgba(255, 255, 255, .6));
  animation: flicker 2s infinite linear alternate-reverse;
}

.masthead img:hover {
  animation: none;
}

h1 strong {
  display: block;
  position: relative;
  text-transform: lowercase;
}

h1 strong::before,
h1 strong::after {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


h1 strong::before,
h1 strong::after {
  content: "Jake Johns";
}

h1 strong::before {
  animation: noise1 9s infinite linear alternate-reverse;
  background: black;
  clip: rect(44px, 450px, 56px, 0);
  left: 2px;
  text-shadow: -1px 0 red;
}

h1 strong::after {
  animation: noise2 12s infinite linear alternate-reverse;
  background: black;
  left: -2px;
  text-shadow: -1px 0 green;
}

a:visited,
a:link {
  color: gray;
}

a:hover,
a:focus {
  color: red;
  outline: 0;
}

small {
  display: block;
  font-size: .75em;
}

.tech {
  font-family: monospace;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 1em;
}

.keys ul {
  font-size: .9em;
}

.footer {
  border-top: 1px solid #fff;
  color: #666;
  margin-top: 1em;
  padding-top: 1em;
}

.footer>* {
  font-size: .65em;
}
